USE [master]
GO
/****** Object:  Database [EXON_SYSTEM]    Script Date: 4/13/2017 6:46:51 AM ******/
CREATE DATABASE [EXON_SYSTEM]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EXON_SYSTEM', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EXON_SYSTEM.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EXON_SYSTEM_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EXON_SYSTEM_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EXON_SYSTEM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EXON_SYSTEM]
GO
/****** Object:  User [exonUser]    Script Date: 4/13/2017 6:46:52 AM ******/
CREATE USER [exonUser] FOR LOGIN [exonUser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [exonUser]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [exonUser]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [exonUser]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [exonUser]
GO
ALTER ROLE [db_datareader] ADD MEMBER [exonUser]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [exonUser]
GO
/****** Object:  Table [dbo].[ANSWERS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ANSWERS](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [nvarchar](max) NULL,
	[IsCorrect] [bit] NOT NULL,
	[SubQuestionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ANSWERSHEET_DETAIL]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANSWERSHEET_DETAIL](
	[AnswerSheetDetailID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerSheetDetailContent] [varchar](max) NULL,
	[LastTime] [int] NULL,
	[AnswerSheetID] [int] NULL,
	[TestDetailID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerSheetDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ANSWERSHEETS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ANSWERSHEETS](
	[AnswerSheetID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerContent] [varchar](max) NULL,
	[TestScores] [float] NULL,
	[EssayPoints] [float] NULL,
	[Status] [int] NOT NULL,
	[ContestantID] [int] NULL,
	[TestID] [int] NULL,
	[StaffID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerSheetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAGOFTESTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAGOFTESTS](
	[BagOfTestID] [int] IDENTITY(1,1) NOT NULL,
	[NumberOfTest] [int] NULL,
	[ShiftID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BagOfTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTEST_TYPES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTEST_TYPES](
	[ContestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ContestTypeName] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTESTANT_TYPES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTESTANT_TYPES](
	[ContestantTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ContestantTypeName] [nvarchar](50) NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestantTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTESTANTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTESTANTS](
	[ContestantID] [int] IDENTITY(1,1) NOT NULL,
	[ContestantCode] [varchar](20) NULL,
	[Status] [int] NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [int] NULL,
	[Ethnic] [nvarchar](100) NULL,
	[PlaceOfBirth] [nvarchar](max) NULL,
	[HighSchool] [nvarchar](max) NULL,
	[Sex] [int] NULL,
	[IdentityCardNumber] [varchar](12) NULL,
	[Unit] [nvarchar](100) NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[ContestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_ContestantCode_ContestID] UNIQUE NONCLUSTERED 
(
	[ContestID] ASC,
	[ContestantCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTESTANTS_SHIFTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONTESTANTS_SHIFTS](
	[ContestantShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ClientIP] [varchar](25) NULL,
	[Status] [int] NOT NULL,
	[ContestantPass] [varchar](20) NULL,
	[ShiftID] [int] NULL,
	[ContestantID] [int] NULL,
	[RoomDiagramID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestantShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONTESTANTS_SUBJECTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTESTANTS_SUBJECTS](
	[ContestantSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[SubjectID] [int] NULL,
	[ContestantID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestantSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTESTANTS_TESTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTESTANTS_TESTS](
	[ContestantTestID] [int] IDENTITY(1,1) NOT NULL,
	[ContestantID] [int] NULL,
	[TestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestantTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CONTESTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTESTS](
	[ContestID] [int] IDENTITY(1,1) NOT NULL,
	[ContestName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [int] NULL,
	[AcceptDate] [int] NULL,
	[BeginRegisiter] [int] NULL,
	[EndRegister] [int] NULL,
	[QuestionStartDate] [int] NULL,
	[QuestionEndDate] [int] NULL,
	[SchoolYear] [int] NULL,
	[Status] [int] NOT NULL,
	[StaffID1] [int] NULL,
	[StaffID2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ContestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [nvarchar](10) NOT NULL,
	[DepartmentName] [nvarchar](max) NOT NULL,
	[Level] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DepartmentIDParent] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_DepartmentCode] UNIQUE NONCLUSTERED 
(
	[DepartmentCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FINGERPRINTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FINGERPRINTS](
	[FingerprintID] [int] IDENTITY(1,1) NOT NULL,
	[FingerprintImage] [nvarchar](max) NULL,
	[FilePath] [nvarchar](max) NULL,
	[DateSaveFingerprint] [int] NULL,
	[TimeSaveFingerprint] [int] NULL,
	[Status] [int] NOT NULL,
	[ContestantID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FingerprintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOCATIONS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCATIONS](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[LocationName] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[ContestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MODULES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MODULES](
	[ModuleID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleCode] [nvarchar](10) NOT NULL,
	[SchoolYear] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POSITIONS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSITIONS](
	[PositionID] [int] IDENTITY(1,1) NOT NULL,
	[PositionCode] [nvarchar](10) NOT NULL,
	[PositionName] [nvarchar](max) NOT NULL,
	[Permission] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PositionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_PositionCode] UNIQUE NONCLUSTERED 
(
	[PositionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTION_TYPES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTION_TYPES](
	[QuestionTypeID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionTypeName] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
	[IsQuiz] [bit] NOT NULL,
	[IsSingleChoice] [bit] NOT NULL,
	[IsParagraph] [bit] NOT NULL,
	[IsQuestionContent] [bit] NOT NULL,
	[IsMixSubQuestion] [bit] NOT NULL,
	[NumberSubQuestion] [int] NOT NULL,
	[NumberAnswer] [int] NOT NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUESTIONS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUESTIONS](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionContent] [nvarchar](max) NULL,
	[Level] [int] NULL,
	[Status] [int] NOT NULL,
	[CreatedDate] [int] NULL,
	[UpdateDate] [int] NULL,
	[AcceptedDate] [int] NULL,
	[QuestionTypeID] [int] NULL,
	[TopicID] [int] NULL,
	[StaffID1] [int] NULL,
	[StaffID2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RECEIPTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEIPTS](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[Cost] [float] NULL,
	[ReceivedDate] [int] NULL,
	[RegisterDate] [int] NULL,
	[ReceiptType] [bit] NULL,
	[Status] [int] NOT NULL,
	[StaffID] [int] NULL,
	[RegisterID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REGISTERS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTERS](
	[RegisterID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NULL,
	[Birthday] [int] NULL,
	[Ethnic] [nvarchar](100) NULL,
	[PlaceOfBirth] [nvarchar](max) NULL,
	[HighSchool] [nvarchar](max) NULL,
	[Sex] [int] NULL,
	[IdentityCardNumber] [varchar](12) NULL,
	[Unit] [nvarchar](100) NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[RegisterDate] [int] NULL,
	[RegisterType] [bit] NULL,
	[Status] [int] NOT NULL,
	[ContestID] [int] NULL,
	[ContestantTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegisterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REGISTERS_SUBJECTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTERS_SUBJECTS](
	[RegisterSubjectID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[SubjectID] [int] NULL,
	[RegisterID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegisterSubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ROOMDIAGRAMS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROOMDIAGRAMS](
	[RoomDiagramID] [int] IDENTITY(1,1) NOT NULL,
	[ComputerCode] [varchar](50) NULL,
	[ComputerName] [varchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[RoomTestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomDiagramID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROOMTESTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMTESTS](
	[RoomTestID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTestName] [nvarchar](100) NULL,
	[MaxSeatMount] [int] NULL,
	[MaxSupervisor] [int] NULL,
	[Status] [int] NOT NULL,
	[LocationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SCHEDULES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SCHEDULES](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [int] NULL,
	[EndDate] [int] NULL,
	[TimeOfTest] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[ContestID] [int] NULL,
	[SubjectID] [int] NULL,
	[ContestTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHIFTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFTS](
	[ShiftID] [int] IDENTITY(1,1) NOT NULL,
	[ShiftDate] [int] NULL,
	[StartTime] [int] NULL,
	[EndTime] [int] NULL,
	[ScheduleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SHIFTS_STAFFS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFTS_STAFFS](
	[DivisionShiftID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[ShiftID] [int] NULL,
	[StaffID] [int] NULL,
	[RoomTestID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DivisionShiftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STAFFS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STAFFS](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](20) NOT NULL,
	[Fullname] [nvarchar](max) NOT NULL,
	[Birthday] [int] NOT NULL,
	[Sex] [int] NOT NULL,
	[IdentityCardNumber] [varchar](12) NOT NULL,
	[AcademicRank] [nvarchar](max) NULL,
	[Degree] [nvarchar](max) NULL,
	[CurrentAddress] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[PositionID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_StaffIdentification] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[STRUCTURE_DETAIL]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURE_DETAIL](
	[StructureDetailID] [int] IDENTITY(1,1) NOT NULL,
	[NumberQuestions] [int] NULL,
	[Level] [int] NULL,
	[StructureID] [int] NULL,
	[TopicID] [int] NULL,
	[QuestionTypeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StructureDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRUCTURES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURES](
	[StructureID] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [int] NULL,
	[Status] [int] NOT NULL,
	[ScheduleID] [int] NULL,
	[StaffID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StructureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SubjectID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](10) NOT NULL,
	[SubjectName] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UNIQUE_SubjectCode] UNIQUE NONCLUSTERED 
(
	[SubjectCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SUBQUESTIONS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBQUESTIONS](
	[SubQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[SubQuestionContent] [nvarchar](max) NULL,
	[FixedPosition] [int] NULL,
	[Score] [float] NOT NULL,
	[QuestionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TEST_DETAIL]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TEST_DETAIL](
	[TestDetailID] [int] IDENTITY(1,1) NOT NULL,
	[RandomAnswer] [varchar](200) NULL,
	[NumberIndex] [int] NULL,
	[TestID] [int] NULL,
	[QuestionID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TESTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TESTS](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[TestDate] [int] NULL,
	[Status] [int] NOT NULL,
	[BagOfTestID] [int] NULL,
	[StructureID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOPICS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPICS](
	[TopicID] [int] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TOPICS_STAFFS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TOPICS_STAFFS](
	[TopicStaffID] [int] IDENTITY(1,1) NOT NULL,
	[BeginDate] [int] NULL,
	[EndDate] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[TopicID] [int] NOT NULL,
	[StaffID1] [int] NULL,
	[StaffID2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TopicStaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIOLATION_TYPES]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIOLATION_TYPES](
	[ViolationTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ViolationName] [nvarchar](100) NULL,
	[Description] [nvarchar](max) NULL,
	[Level] [int] NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ViolationTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VIOLATIONS_CONTESTANTS]    Script Date: 4/13/2017 6:46:52 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VIOLATIONS_CONTESTANTS](
	[ViolationDetailID] [int] IDENTITY(1,1) NOT NULL,
	[Status] [int] NOT NULL,
	[ViolationTypeID] [int] NULL,
	[ContestantShiftID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ViolationDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ANSWERS] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[ANSWERSHEETS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTEST_TYPES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTESTANT_TYPES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTESTANTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTESTANTS_SUBJECTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[CONTESTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[DEPARTMENTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[FINGERPRINTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[LOCATIONS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[MODULES] ADD  DEFAULT ((2017)) FOR [SchoolYear]
GO
ALTER TABLE [dbo].[MODULES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[POSITIONS] ADD  DEFAULT ((1)) FOR [Permission]
GO
ALTER TABLE [dbo].[POSITIONS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [IsQuiz]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [IsSingleChoice]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [IsParagraph]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [IsQuestionContent]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [IsMixSubQuestion]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((2)) FOR [NumberSubQuestion]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((4)) FOR [NumberAnswer]
GO
ALTER TABLE [dbo].[QUESTION_TYPES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[QUESTIONS] ADD  DEFAULT ((1)) FOR [Level]
GO
ALTER TABLE [dbo].[QUESTIONS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[RECEIPTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[REGISTERS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[REGISTERS_SUBJECTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ROOMDIAGRAMS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ROOMTESTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SCHEDULES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[STAFFS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[STRUCTURES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SUBJECTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[SUBQUESTIONS] ADD  DEFAULT ((0)) FOR [FixedPosition]
GO
ALTER TABLE [dbo].[SUBQUESTIONS] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[TESTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TOPICS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[TOPICS_STAFFS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VIOLATION_TYPES] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[VIOLATIONS_CONTESTANTS] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ANSWERS]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERS_SUBQUESTION] FOREIGN KEY([SubQuestionID])
REFERENCES [dbo].[SUBQUESTIONS] ([SubQuestionID])
GO
ALTER TABLE [dbo].[ANSWERS] CHECK CONSTRAINT [FK_ANSWERS_SUBQUESTION]
GO
ALTER TABLE [dbo].[ANSWERSHEET_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERSHEETDETAIL_ANSWERSHEET] FOREIGN KEY([AnswerSheetID])
REFERENCES [dbo].[ANSWERSHEETS] ([AnswerSheetID])
GO
ALTER TABLE [dbo].[ANSWERSHEET_DETAIL] CHECK CONSTRAINT [FK_ANSWERSHEETDETAIL_ANSWERSHEET]
GO
ALTER TABLE [dbo].[ANSWERSHEET_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERSHEETDETAIL_TESTDETAIL] FOREIGN KEY([TestDetailID])
REFERENCES [dbo].[TEST_DETAIL] ([TestDetailID])
GO
ALTER TABLE [dbo].[ANSWERSHEET_DETAIL] CHECK CONSTRAINT [FK_ANSWERSHEETDETAIL_TESTDETAIL]
GO
ALTER TABLE [dbo].[ANSWERSHEETS]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERSHEETS_CONTESTANT] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[CONTESTANTS] ([ContestantID])
GO
ALTER TABLE [dbo].[ANSWERSHEETS] CHECK CONSTRAINT [FK_ANSWERSHEETS_CONTESTANT]
GO
ALTER TABLE [dbo].[ANSWERSHEETS]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERSHEETS_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[ANSWERSHEETS] CHECK CONSTRAINT [FK_ANSWERSHEETS_STAFF]
GO
ALTER TABLE [dbo].[ANSWERSHEETS]  WITH CHECK ADD  CONSTRAINT [FK_ANSWERSHEETS_TEST] FOREIGN KEY([TestID])
REFERENCES [dbo].[TESTS] ([TestID])
GO
ALTER TABLE [dbo].[ANSWERSHEETS] CHECK CONSTRAINT [FK_ANSWERSHEETS_TEST]
GO
ALTER TABLE [dbo].[BAGOFTESTS]  WITH CHECK ADD  CONSTRAINT [FK_BAGOFTESTS_SHIFT] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[SHIFTS] ([ShiftID])
GO
ALTER TABLE [dbo].[BAGOFTESTS] CHECK CONSTRAINT [FK_BAGOFTESTS_SHIFT]
GO
ALTER TABLE [dbo].[CONTESTANTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTANTS_CONTEST] FOREIGN KEY([ContestID])
REFERENCES [dbo].[CONTESTS] ([ContestID])
GO
ALTER TABLE [dbo].[CONTESTANTS] CHECK CONSTRAINT [FK_CONTESTANTS_CONTEST]
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTANTS_ROOMDIAGRAM] FOREIGN KEY([RoomDiagramID])
REFERENCES [dbo].[ROOMDIAGRAMS] ([RoomDiagramID])
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS] CHECK CONSTRAINT [FK_CONTESTANTS_ROOMDIAGRAM]
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTANTS_SHIFT] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[SHIFTS] ([ShiftID])
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS] CHECK CONSTRAINT [FK_CONTESTANTS_SHIFT]
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS]  WITH CHECK ADD  CONSTRAINT [FK_SHIFTS_CONTESTANT] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[CONTESTANTS] ([ContestantID])
GO
ALTER TABLE [dbo].[CONTESTANTS_SHIFTS] CHECK CONSTRAINT [FK_SHIFTS_CONTESTANT]
GO
ALTER TABLE [dbo].[CONTESTANTS_SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTANTS_SUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SUBJECTS] ([SubjectID])
GO
ALTER TABLE [dbo].[CONTESTANTS_SUBJECTS] CHECK CONSTRAINT [FK_CONTESTANTS_SUBJECT]
GO
ALTER TABLE [dbo].[CONTESTANTS_SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_CONTESTANT] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[CONTESTANTS] ([ContestantID])
GO
ALTER TABLE [dbo].[CONTESTANTS_SUBJECTS] CHECK CONSTRAINT [FK_SUBJECTS_CONTESTANT]
GO
ALTER TABLE [dbo].[CONTESTANTS_TESTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTANTS_TEST] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[CONTESTANTS] ([ContestantID])
GO
ALTER TABLE [dbo].[CONTESTANTS_TESTS] CHECK CONSTRAINT [FK_CONTESTANTS_TEST]
GO
ALTER TABLE [dbo].[CONTESTANTS_TESTS]  WITH CHECK ADD  CONSTRAINT [FK_TESTS_CONTESTANT] FOREIGN KEY([TestID])
REFERENCES [dbo].[TESTS] ([TestID])
GO
ALTER TABLE [dbo].[CONTESTANTS_TESTS] CHECK CONSTRAINT [FK_TESTS_CONTESTANT]
GO
ALTER TABLE [dbo].[CONTESTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTS_STAFF1] FOREIGN KEY([StaffID1])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[CONTESTS] CHECK CONSTRAINT [FK_CONTESTS_STAFF1]
GO
ALTER TABLE [dbo].[CONTESTS]  WITH CHECK ADD  CONSTRAINT [FK_CONTESTS_STAFF2] FOREIGN KEY([StaffID2])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[CONTESTS] CHECK CONSTRAINT [FK_CONTESTS_STAFF2]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [FK_DEPARTMENTS_DEPARTMENT] FOREIGN KEY([DepartmentIDParent])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [FK_DEPARTMENTS_DEPARTMENT]
GO
ALTER TABLE [dbo].[FINGERPRINTS]  WITH CHECK ADD  CONSTRAINT [FK_FINGERPRINTS_CONTESTANT] FOREIGN KEY([ContestantID])
REFERENCES [dbo].[CONTESTANTS] ([ContestantID])
GO
ALTER TABLE [dbo].[FINGERPRINTS] CHECK CONSTRAINT [FK_FINGERPRINTS_CONTESTANT]
GO
ALTER TABLE [dbo].[LOCATIONS]  WITH CHECK ADD  CONSTRAINT [FK_LOCATIONS_CONTEST] FOREIGN KEY([ContestID])
REFERENCES [dbo].[CONTESTS] ([ContestID])
GO
ALTER TABLE [dbo].[LOCATIONS] CHECK CONSTRAINT [FK_LOCATIONS_CONTEST]
GO
ALTER TABLE [dbo].[MODULES]  WITH CHECK ADD  CONSTRAINT [FK_MODULES_SUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SUBJECTS] ([SubjectID])
GO
ALTER TABLE [dbo].[MODULES] CHECK CONSTRAINT [FK_MODULES_SUBJECT]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_QUESTIONTYPE] FOREIGN KEY([QuestionTypeID])
REFERENCES [dbo].[QUESTION_TYPES] ([QuestionTypeID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_QUESTIONTYPE]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_STAFF1] FOREIGN KEY([StaffID1])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_STAFF1]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_STAFF2] FOREIGN KEY([StaffID2])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_STAFF2]
GO
ALTER TABLE [dbo].[QUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_QUESTIONS_TOPIC] FOREIGN KEY([TopicID])
REFERENCES [dbo].[TOPICS] ([TopicID])
GO
ALTER TABLE [dbo].[QUESTIONS] CHECK CONSTRAINT [FK_QUESTIONS_TOPIC]
GO
ALTER TABLE [dbo].[RECEIPTS]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPTS_REGISTER] FOREIGN KEY([RegisterID])
REFERENCES [dbo].[REGISTERS] ([RegisterID])
GO
ALTER TABLE [dbo].[RECEIPTS] CHECK CONSTRAINT [FK_RECEIPTS_REGISTER]
GO
ALTER TABLE [dbo].[RECEIPTS]  WITH CHECK ADD  CONSTRAINT [FK_RECEIPTS_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[RECEIPTS] CHECK CONSTRAINT [FK_RECEIPTS_STAFF]
GO
ALTER TABLE [dbo].[REGISTERS]  WITH CHECK ADD  CONSTRAINT [FK_REGISTERS_CONTEST] FOREIGN KEY([ContestID])
REFERENCES [dbo].[CONTESTS] ([ContestID])
GO
ALTER TABLE [dbo].[REGISTERS] CHECK CONSTRAINT [FK_REGISTERS_CONTEST]
GO
ALTER TABLE [dbo].[REGISTERS]  WITH CHECK ADD  CONSTRAINT [FK_REGISTERS_CONTESTANTTYPE] FOREIGN KEY([ContestantTypeID])
REFERENCES [dbo].[CONTESTANT_TYPES] ([ContestantTypeID])
GO
ALTER TABLE [dbo].[REGISTERS] CHECK CONSTRAINT [FK_REGISTERS_CONTESTANTTYPE]
GO
ALTER TABLE [dbo].[REGISTERS_SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_REGISTERS_SUBJECT] FOREIGN KEY([RegisterID])
REFERENCES [dbo].[REGISTERS] ([RegisterID])
GO
ALTER TABLE [dbo].[REGISTERS_SUBJECTS] CHECK CONSTRAINT [FK_REGISTERS_SUBJECT]
GO
ALTER TABLE [dbo].[REGISTERS_SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_REGISTER] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SUBJECTS] ([SubjectID])
GO
ALTER TABLE [dbo].[REGISTERS_SUBJECTS] CHECK CONSTRAINT [FK_SUBJECTS_REGISTER]
GO
ALTER TABLE [dbo].[ROOMDIAGRAMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMDIAGRAMS_ROOMTEST] FOREIGN KEY([RoomTestID])
REFERENCES [dbo].[ROOMTESTS] ([RoomTestID])
GO
ALTER TABLE [dbo].[ROOMDIAGRAMS] CHECK CONSTRAINT [FK_ROOMDIAGRAMS_ROOMTEST]
GO
ALTER TABLE [dbo].[ROOMTESTS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMTESTS_LOCATION] FOREIGN KEY([LocationID])
REFERENCES [dbo].[LOCATIONS] ([LocationID])
GO
ALTER TABLE [dbo].[ROOMTESTS] CHECK CONSTRAINT [FK_ROOMTESTS_LOCATION]
GO
ALTER TABLE [dbo].[SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULES_CONTEST] FOREIGN KEY([ContestID])
REFERENCES [dbo].[CONTESTS] ([ContestID])
GO
ALTER TABLE [dbo].[SCHEDULES] CHECK CONSTRAINT [FK_SCHEDULES_CONTEST]
GO
ALTER TABLE [dbo].[SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULES_CONTESTTYPE] FOREIGN KEY([ContestTypeID])
REFERENCES [dbo].[CONTEST_TYPES] ([ContestTypeID])
GO
ALTER TABLE [dbo].[SCHEDULES] CHECK CONSTRAINT [FK_SCHEDULES_CONTESTTYPE]
GO
ALTER TABLE [dbo].[SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_SCHEDULES_SUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SUBJECTS] ([SubjectID])
GO
ALTER TABLE [dbo].[SCHEDULES] CHECK CONSTRAINT [FK_SCHEDULES_SUBJECT]
GO
ALTER TABLE [dbo].[SHIFTS]  WITH CHECK ADD  CONSTRAINT [FK_SHIFTS_SCHEDULE] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[SCHEDULES] ([ScheduleID])
GO
ALTER TABLE [dbo].[SHIFTS] CHECK CONSTRAINT [FK_SHIFTS_SCHEDULE]
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_SHIFTS_ROOMTEST] FOREIGN KEY([RoomTestID])
REFERENCES [dbo].[ROOMTESTS] ([RoomTestID])
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS] CHECK CONSTRAINT [FK_SHIFTS_ROOMTEST]
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_SHIFTS_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS] CHECK CONSTRAINT [FK_SHIFTS_STAFF]
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_SHIFT] FOREIGN KEY([ShiftID])
REFERENCES [dbo].[SHIFTS] ([ShiftID])
GO
ALTER TABLE [dbo].[SHIFTS_STAFFS] CHECK CONSTRAINT [FK_STAFFS_SHIFT]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_DEPARTMENT] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [FK_STAFFS_DEPARTMENT]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_POSITION] FOREIGN KEY([PositionID])
REFERENCES [dbo].[POSITIONS] ([PositionID])
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [FK_STAFFS_POSITION]
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STRUCTUREDETAIL_QUESTIONTYPE] FOREIGN KEY([QuestionTypeID])
REFERENCES [dbo].[QUESTION_TYPES] ([QuestionTypeID])
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL] CHECK CONSTRAINT [FK_STRUCTUREDETAIL_QUESTIONTYPE]
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STRUCTUREDETAIL_STRUCTURE] FOREIGN KEY([StructureID])
REFERENCES [dbo].[STRUCTURES] ([StructureID])
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL] CHECK CONSTRAINT [FK_STRUCTUREDETAIL_STRUCTURE]
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_STRUCTUREDETAIL_TOPIC] FOREIGN KEY([TopicID])
REFERENCES [dbo].[TOPICS] ([TopicID])
GO
ALTER TABLE [dbo].[STRUCTURE_DETAIL] CHECK CONSTRAINT [FK_STRUCTUREDETAIL_TOPIC]
GO
ALTER TABLE [dbo].[STRUCTURES]  WITH CHECK ADD  CONSTRAINT [FK_STRUCTURES_SCHEDULE] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[SCHEDULES] ([ScheduleID])
GO
ALTER TABLE [dbo].[STRUCTURES] CHECK CONSTRAINT [FK_STRUCTURES_SCHEDULE]
GO
ALTER TABLE [dbo].[STRUCTURES]  WITH CHECK ADD  CONSTRAINT [FK_STRUCTURES_STAFF] FOREIGN KEY([StaffID])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[STRUCTURES] CHECK CONSTRAINT [FK_STRUCTURES_STAFF]
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_DEPARTMENT] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentID])
GO
ALTER TABLE [dbo].[SUBJECTS] CHECK CONSTRAINT [FK_SUBJECTS_DEPARTMENT]
GO
ALTER TABLE [dbo].[SUBQUESTIONS]  WITH CHECK ADD  CONSTRAINT [FK_SUBQUESTIONS_QUESTION] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONS] ([QuestionID])
GO
ALTER TABLE [dbo].[SUBQUESTIONS] CHECK CONSTRAINT [FK_SUBQUESTIONS_QUESTION]
GO
ALTER TABLE [dbo].[TEST_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TESTDETAIL_QUESTION] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QUESTIONS] ([QuestionID])
GO
ALTER TABLE [dbo].[TEST_DETAIL] CHECK CONSTRAINT [FK_TESTDETAIL_QUESTION]
GO
ALTER TABLE [dbo].[TEST_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_TESTDETAIL_TEST] FOREIGN KEY([TestID])
REFERENCES [dbo].[TESTS] ([TestID])
GO
ALTER TABLE [dbo].[TEST_DETAIL] CHECK CONSTRAINT [FK_TESTDETAIL_TEST]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [FK_TESTS_BAGOFTEST] FOREIGN KEY([BagOfTestID])
REFERENCES [dbo].[BAGOFTESTS] ([BagOfTestID])
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [FK_TESTS_BAGOFTEST]
GO
ALTER TABLE [dbo].[TESTS]  WITH CHECK ADD  CONSTRAINT [FK_TESTS_STRUCTURE] FOREIGN KEY([StructureID])
REFERENCES [dbo].[STRUCTURES] ([StructureID])
GO
ALTER TABLE [dbo].[TESTS] CHECK CONSTRAINT [FK_TESTS_STRUCTURE]
GO
ALTER TABLE [dbo].[TOPICS]  WITH CHECK ADD  CONSTRAINT [FK_TOPICS_SUBJECT] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[SUBJECTS] ([SubjectID])
GO
ALTER TABLE [dbo].[TOPICS] CHECK CONSTRAINT [FK_TOPICS_SUBJECT]
GO
ALTER TABLE [dbo].[TOPICS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_STAFFS_TOPIC] FOREIGN KEY([TopicID])
REFERENCES [dbo].[TOPICS] ([TopicID])
GO
ALTER TABLE [dbo].[TOPICS_STAFFS] CHECK CONSTRAINT [FK_STAFFS_TOPIC]
GO
ALTER TABLE [dbo].[TOPICS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_TOPICS_STAFF1] FOREIGN KEY([StaffID1])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[TOPICS_STAFFS] CHECK CONSTRAINT [FK_TOPICS_STAFF1]
GO
ALTER TABLE [dbo].[TOPICS_STAFFS]  WITH CHECK ADD  CONSTRAINT [FK_TOPICS_STAFF2] FOREIGN KEY([StaffID2])
REFERENCES [dbo].[STAFFS] ([StaffID])
GO
ALTER TABLE [dbo].[TOPICS_STAFFS] CHECK CONSTRAINT [FK_TOPICS_STAFF2]
GO
ALTER TABLE [dbo].[VIOLATIONS_CONTESTANTS]  WITH CHECK ADD  CONSTRAINT [FK_VIOLATIONS_CONTESTTANT] FOREIGN KEY([ContestantShiftID])
REFERENCES [dbo].[CONTESTANTS_SHIFTS] ([ContestantShiftID])
GO
ALTER TABLE [dbo].[VIOLATIONS_CONTESTANTS] CHECK CONSTRAINT [FK_VIOLATIONS_CONTESTTANT]
GO
ALTER TABLE [dbo].[VIOLATIONS_CONTESTANTS]  WITH CHECK ADD  CONSTRAINT [FK_VIOLATIONS_VIOLATIONTYPE] FOREIGN KEY([ViolationTypeID])
REFERENCES [dbo].[VIOLATION_TYPES] ([ViolationTypeID])
GO
ALTER TABLE [dbo].[VIOLATIONS_CONTESTANTS] CHECK CONSTRAINT [FK_VIOLATIONS_VIOLATIONTYPE]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [CHECK_DepartmentCode] CHECK  ((len([DepartmentCode])>(0)))
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [CHECK_DepartmentCode]
GO
ALTER TABLE [dbo].[DEPARTMENTS]  WITH CHECK ADD  CONSTRAINT [CHECK_DepartmentName] CHECK  ((len([DepartmentName])>(0)))
GO
ALTER TABLE [dbo].[DEPARTMENTS] CHECK CONSTRAINT [CHECK_DepartmentName]
GO
ALTER TABLE [dbo].[POSITIONS]  WITH CHECK ADD  CONSTRAINT [CHECK_PositionCode] CHECK  ((len([PositionCode])>(0)))
GO
ALTER TABLE [dbo].[POSITIONS] CHECK CONSTRAINT [CHECK_PositionCode]
GO
ALTER TABLE [dbo].[POSITIONS]  WITH CHECK ADD  CONSTRAINT [CHECK_PositionName] CHECK  ((len([PositionName])>(0)))
GO
ALTER TABLE [dbo].[POSITIONS] CHECK CONSTRAINT [CHECK_PositionName]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [CHECK_Fullname] CHECK  ((len([Fullname])>(0)))
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [CHECK_Fullname]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [CHECK_Password] CHECK  ((len([Password])>(0)))
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [CHECK_Password]
GO
ALTER TABLE [dbo].[STAFFS]  WITH CHECK ADD  CONSTRAINT [CHECK_StaffIdentification] CHECK  ((len([Username])>(0)))
GO
ALTER TABLE [dbo].[STAFFS] CHECK CONSTRAINT [CHECK_StaffIdentification]
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD  CONSTRAINT [CHECK_SubjectCode] CHECK  ((len([SubjectCode])>(0)))
GO
ALTER TABLE [dbo].[SUBJECTS] CHECK CONSTRAINT [CHECK_SubjectCode]
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD  CONSTRAINT [CHECK_SubjectName] CHECK  ((len([SubjectName])>(0)))
GO
ALTER TABLE [dbo].[SUBJECTS] CHECK CONSTRAINT [CHECK_SubjectName]
GO
USE [master]
GO
